*.icon-white {
    color: white;
}

*.icon-silver {
    color: silver;
}

*.icon-green {
    color: green;
}

*.icon-dark {
    color: grey;
}
.zoom {
  padding: 0px;
  transition: transform .3s;

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}