@font-face {
    font-family: 'Greta Arabic';
    src: url(greta.ttf) format('truetype');
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: right !important;
    background-color: #fff;
    font-family: 'Greta Arabic', serif;
}

*.icon-white {
    color: white;
}

*.icon-silver {
    color: silver;
}

*.icon-green {
    color: green;
}

*.icon-dark {
    color: grey;
}

*.main-orange {
    color: #e16717;
}

*.main-blue {
    color: #0771bb;
}

*.thead-dark {
    color: #232937;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.table .thead-dark th {
    color: #fff;
    background-color: #232937;
    border-color: #454d55;
}

.table .thead-dark td {
    color: #fff;
    background-color: #232937;
    border-color: #454d55;
}

.table-responsive-xl {
    display: inline-table !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.table td.actions,
.table th.actions {
    white-space: nowrap;
    width: 8%;
}

@media screen and (max-width: 768px) {

    /* small screen */
    div.full-details {
        display: none;
    }

    div.less-details {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* medium screen */
    div.full-details {
        display: block;
    }

    div.less-details {
        display: none;
    }

    .hideable-columns {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    /* large screen */
    div.less-details {
        display: none;
    }

    .hideable-columns {
        display: table-cell;
    }

}

