<div th:fragment="content" th:remove="tag"  xmlns:th="http://www.w3.org/1999/xhtml">

  <div class="form-group row">
    <label class="col-form-label text-left m-2">وصف قصير :</label>
    <div class="col-sm-12">
        <textarea class="form-control" th:field="*{shortDescription}" rows="5" required="required" minlength="3" maxlength="256"></textarea>
    </div>
  </div>

    <div class="form-group row">
        <label class="col-form-label text-left m-2">الوصف :</label>
        <div class="col-sm-12">
            <textarea class="form-control" th:field="*{fullDescription}" rows="10" required="required" minlength="3" maxlength="2048"></textarea>
        </div>
    </div>

</div>