<!DOCTYPE html>
<html  lang="ar" dir="rtl"  xmlns:th="http://www.thymeleaf.org" >

<div th:replace="~{fragments/page_head :: page_head('Error - Shopme Admin')}"> </div>

<body>
    <div class="container-fluid">

        <div th:replace="~{fragments/page_navbar}"> </div>

        <!-- Error Page -->
        <div class="error">
            <div class="container-fluid">
                <div class="col-xs-12 ground-color text-center">
                    <div class="container-error-404">
                        <div class="clip">
                            <div class="shadow"><span class="digit thirdDigit"></span></div>
                        </div>
                        <div class="clip">
                            <div class="shadow"><span class="digit secondDigit"></span></div>
                        </div>
                        <div class="clip">
                            <div class="shadow"><span class="digit firstDigit"></span></div>
                        </div>
                        <div class="msg">OH!<span class="triangle"></span></div>
                    </div>
                    <h2 class="h1">Sorry! unexpected error</h2>
                </div>
            </div>
        </div>
        <!-- Error Page -->

        <div th:replace="~{fragments/page_footer}"> </div>
    </div>
    <script th:src="@{/js/error.js}" type="text/javascript"></script>
</body>

</html>