<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container-fluid">
        <div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/ShopmeAdminSmall.png}" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/brands}">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customers}">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orders}">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/report}">Sales Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/articles}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/menus}">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/settings}">Settings</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
        <div>
            <h2>Manage Users | [[${pageTitle}]]</h2>
        </div>

        <div>
            <form th:action="@{/users/save}" method="post" style="max-width: 850px; margin: 0 auto;" th:object="${user}"
                onsubmit="return checkEmailUnique(this);" enctype="multipart/form-data">

                <input type="hidden" th:field="*{id}" />

                <div class="border border-secondary rounded p-3">

                    <div class="form-group row">
                        <label th:for="email" class="col-sm-2 col-form-label">E-mail:</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" th:field="*{email}" required
                                minlength="8" maxlength="28" autocomplete="email" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label th:for="firstName" class="col-sm-2 col-form-label">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="firstName" class="form-control" th:field="*{firstName}" required
                                minlength="2" maxlength="45" autocomplete="given-name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label th:for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastName" class="form-control" th:field="*{lastName}" required
                                minlength="2" maxlength="45" autocomplete="family-name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label th:for="password" class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-10">

                            <!-- Create New Password -->
                            <input th:unless="${user.id}" type="password" name="password" class="form-control" th:field="*{password}" required
                                   minlength="8" maxlength="20" autocomplete="new-password" />
                            <small th:unless="${user.id}" class="form-text text-muted">
                                Enter a password with at least 8 characters.
                            </small>


                            <!-- Update Password -->
                            <input th:if="${user.id}" type="password" name="password" class="form-control" th:field="*{password}"
                                minlength="8" maxlength="20" autocomplete="current-password" />
                            <small th:if="${user.id}" class="form-text text-muted">
                                Leave it blank if you don't want to change the password.
                            </small>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label th:for="roles" class="col-sm-2 col-form-label">Roles:</label>
                        <div class="col-sm-10">
                            <th:block th:each="role : ${listRoles}" class="form-check">
                                <input type="checkbox" name="roles" th:value="${role.id}" th:field="*{roles}"
                                    th:text="${role.name}" class="m-2" />
                                - <small th:text="${role.description}"></small>
                                <br>
                            </th:block>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label th:for="enabled" class="col-sm-2 col-form-label">Enabled:</label>
                        <div class="col-sm-10">
                            <input type="checkbox" th:field="*{enabled}" class="m-2">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label th:for="image" class="col-sm-2 col-form-label">Image:</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="image" th:field="*{photos}" />
                            <input type="file" name="image" accept="image/png, image/jpeg" id="fileImage" class="mb-3" />
                            <img th:src="@{${user.getPhotosImagePath}}" id="thumbnail" width="50" height="50"  alt="User Image" />
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="save" class="btn btn-primary m-3">
                        <input type="button" value="cancel" class="btn btn-secondary" id="theBtnCancel">
                    </div>

                </div>
            </form>
        </div>

        <!-- The Modal -->
        <div class="modal" id="modalDialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Warning</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" id="modalBody">Modal Body</div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center">
            <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#theBtnCancel").click(function () {
                window.location.href = "[[@{/users}]]";
            });

            $("#fileImage").change(function() {

                fileSize = this.files[0].size;
                <!--2097152 = 2MB | 1048576 = 1MB-->
                if (fileSize > 2097152) {
                    $("#modalTitle").text("Warning");
                    $("#modalBody").text("The file size must not exceed 2MB.");
                    $("#modalDialog").modal();
                    this.value = "";
                    this.reportValidity();
                    return false;
                }

                showThumbnail(this, "#thumbnail");
            });

        });

        function showThumbnail(fileInput, img) {
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }

        function checkEmailUnique(form) {
            url = "[[@{/users/check_email}]]";
            userEmail = $("[name='email']").val();
            csrfToken = $("input[name='_csrf']").val();
            theUserId = $("[name='id']").val();
            params = {
                id: theUserId,
                email: userEmail,
                _csrf: csrfToken
            };
            $.post(url, params, function (res) {
                if (res == "OK") {
                    form.submit();
                } else if(res == "Duplicated") {
                    showModalDialog("Warning", "The email is already in use " + userEmail);
                }else{
                    showModalDialog("Error", "Unknown response from server: ");
                }
            }).fail(function (xhr, status, error) {
                showModalDialog("Error", "Could not connect to server: " + error);
            });
            return false;
        }

        function showModalDialog(title, message) {
            $("#email").focus();
            $("#email").css("border-color", "#dc3545");
            $("#modalTitle").text(title);
            $("#modalBody").text(message);
            $("#modalDialog").modal();
        }

    </script>

</body>

</html>