<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/page_head :: page_head('Products | Shopme Admin')}"></div>

<body>

<div th:replace="~{fragments/page_navbar}"></div>


<div class="container-fluid d-flex justify-content-between">

    <h2 class="m-2">إدارة المنتجات</h2>

    <form class="form-inline m-2" method="GET" th:action="@{/products/page/1}">

        <button class="btn btn-sm btn-outline-secondary m-1" type="submit"><i class="fas fa-search"></i></button>
        <button class="btn btn-sm btn-outline-secondary m-1" onclick="clearFilter('/ShopmeAdmin/products')" type="button"><i class="fas fa-sync"></i></button>

        <label><input class="form-control" name="keyword" placeholder="إبحث بلإيميل أو الإسم" th:value="${keyword}" type="text" required></label>

        <input name="sortField" th:value="${sortField}" type="hidden">
        <input name="sortDir" th:value="${sortDir}" type="hidden">

        <a class="btn btn-sm btn-outline-primary m-1" th:href="@{/products/new}"><i class="fas fa-square-plus fa-bounce"></i></a>
        <a class="btn btn-sm btn-outline-warning m-1" th:href="@{/products/export/csv}"><i class="fas fa-file-csv"></i></a>
        <a class="btn btn-sm btn-outline-success m-1" th:href="@{/products/export/excel}"><i class="fas fa-file-excel"></i></a>
        <a class="btn btn-sm btn-outline-danger m-1" th:href="@{/products/export/pdf}"><i class="fas fa-file-pdf"></i></a>

    </form>
</div>


<div class="container-fluid">

</div>

<div th:replace="~{fragments/page_footer}"></div>

</body>
</html>