<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/page_head :: page_head('المنتجات', 'none')}"></div>

<body>

<div th:replace="~{fragments/page_navbar}"></div>


<div class="container-fluid d-flex justify-content-between">

    <h2 class="m-2">إدارة المنتجات</h2>

    <form class="form-inline m-2" method="GET" th:action="@{/products/page/1}">

        <button class="btn btn-sm btn-outline-secondary m-1" type="submit"><i class="fas fa-search"></i></button>
        <button class="btn btn-sm btn-outline-secondary m-1" onclick="clearFilter('/ShopmeAdmin/products')" type="button"><i class="fas fa-sync"></i></button>

        <label><input class="form-control" name="keyword" placeholder="إبحث بلإيميل أو الإسم" th:value="${keyword}" type="text" required></label>

        <input name="sortField" th:value="${sortField}" type="hidden">
        <input name="sortDir" th:value="${sortDir}" type="hidden">

        <a class="btn btn-sm btn-outline-primary m-1" th:href="@{/products/new}"><i class="fas fa-square-plus fa-bounce"></i></a>
        <a class="btn btn-sm btn-outline-warning m-1" th:href="@{/products/export/csv}"><i class="fas fa-file-csv"></i></a>
        <a class="btn btn-sm btn-outline-success m-1" th:href="@{/products/export/excel}"><i class="fas fa-file-excel"></i></a>
        <a class="btn btn-sm btn-outline-danger m-1" th:href="@{/products/export/pdf}"><i class="fas fa-file-pdf"></i></a>

    </form>
</div>


<div class="container-fluid">
    <div class="alert alert-success alert-dismissible" th:if="${message != null}">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <span th:text="${message}"></span>
    </div>

    <div class="full-details">
        <table class="table table-responsive-xl table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="fit hideable-columns">
                    <th th:replace="~{fragments/column_link :: column_link('id', 'المعرف', 'tag','products')}"></th>
                    <th class="text-center" style="width: 10%;">الصورة</th>
                    <th th:replace="~{fragments/column_link :: column_link('name', 'إسم المنتج', 'none','products')}"></th>
                    <th class="hideable-columns">
                    <th class="hideable-columns" th:replace="~{fragments/column_link :: column_link('alias', 'الإسم المستعار', 'tag','products')}"></th>
                    <th class="hideable-columns" th:replace="~{fragments/column_link :: column_link('brand.name', 'الماركة', 'none','products')}"></th>
                    <th class="hideable-columns" th:replace="~{fragments/column_link :: column_link('category.name', 'الصنف', 'none','products')}"></th>
                    <th class="hideable-columns" th:replace="~{fragments/column_link :: column_link('cost', 'التكلفة', 'none','products')}"></th>
                    <th class="hideable-columns" th:replace="~{fragments/column_link :: column_link('price', 'السعر', 'none','products')}"></th>
                    <th th:replace="~{fragments/column_link :: column_link('enabled', 'الحالة', 'none','products')}"></th>
                    <th class="actions text-center">الخيارات</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <td class="text-center align-middle hideable-columns" th:text="${product.id}" style="width: 5%;"></td>

                    <td class="text-center align-middle">
                        <span class="fas fa-user-secret fa-2xl icon-silver" th:if="${product.image == null}"></span>
                        <img alt="Product Image" height="50" th:if="${product.image != null}" th:src="@{${product.getImagePath}}" width="50"/>
                    </td>

                    <th class="align-middle hideable-columns" th:text="${product.name}" style="width: 20%;"></th>

                    <td class="align-middle" th:text="${product.alias}"></td>

                    <td class="align-middle hideable-columns" th:text="${product.brand.name}" ></td>

                    <td class="align-middle hideable-columns" th:text="${product.category.name}"></td>

                    <td class="align-middle hideable-columns" th:text="${product.cost}"></td>

                    <td class="align-middle hideable-columns" th:text="${product.price}"></td>

                    <td class="text-center align-middle" style="width: 5%;">
                        <a class="btn btn-sm btn-outline-success" th:href="@{/products/{id}/enabled/{status}(id=${product.id}, status=${false})}" th:if="${product.enabled}" title="Click to disable">
                            <i class="fas fa-check-circle fa-lg fa-fade"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-danger" th:href="@{/products/{id}/enabled/{status}(id=${product.id}, status=${true})}" th:if="${!product.enabled}" title="Click to enable">
                            <i class="fas fa-times-circle fa-lg fa-fade"></i>
                        </a>
                    </td>

                    <td class="text-center align-middle" style="width: 10%;">
                        <a class="btn btn-sm btn-outline-primary" th:href="@{/products/details/{id}(id=${product.id})}" title="Click to view details">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary" th:href="@{/products/edit/{id}(id=${product.id})}" title="Click to edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-danger link-delete" th:href="@{/products/delete/{id}(id=${product.id})}" th:theID="${product.id}" title="Click to delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details"></div>

    <!-- TODO: include pagination -->

    <div class="modal" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body" id="modalBody">
                    <span id="confirmText"></span>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button class="btn btn-danger" data-dismiss="modal" type="button">No</button>
                </div>

            </div>
        </div>
    </div>

</div>


<div th:replace="~{fragments/page_footer}"></div>

</body>
</html>