<th th:class="${fieldName == 'id' || fieldName == 'enabled' ? 'text-center' : ''}"
    th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}"
    th:style="${fieldName == 'firstName' || fieldName == 'lastName' ? 'width: 10%' : ''}"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="text-white"
       th:href="@{'/users/page/' + ${currentPage} + '?sortField='+ ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>
